[submodule "colored_translation"]
	path = test_runner/systems/colored_translation
	url = git@github.com:petrinet-planning/colored-lifted-planning.git
	branch = main
[submodule "grounded_translation"]
	path = test_runner/systems/grounded_translation
	url = git@github.com:petrinet-planning/planning-via-unfolding.git
	branch = pnml
[submodule "benchmarks/downward-benchmarks"]
	path = benchmarks/downward-benchmarks
	url = git@github.com:aibasel/downward-benchmarks.git
[submodule "benchmarks/autoscale-benchmarks"]
	path = benchmarks/autoscale-benchmarks
	url = git@github.com:AI-Planning/autoscale-benchmarks.git
[submodule "test_runner/systems/downward"]
	path = test_runner/systems/downward
	url = git@github.com:aibasel/downward.git
[submodule "submodules/VAL"]
	path = submodules/VAL
	url = git@github.com:KCL-Planning/VAL.git
[submodule "planningEngine"]
	path = test_runner/systems/verifypn
	url = git@github.com:petrinet-planning/verifypn.git
	branch = PlanningEngine
[submodule "test_runner/systems/colored_translation_hierarchy"]
	path = test_runner/systems/colored_translation_hierarchy
	url = git@github.com:petrinet-planning/colored-lifted-planning.git
	branch = TypeHierarchy
[submodule "colored_hierarchy_v2"]
	path = test_runner/systems/type_hierarchy_v2
	url = git@github.com:petrinet-planning/colored-lifted-planning.git
	branch = TypeHierarchyV2
[submodule "test_runner/systems/ENHSP-Public"]
	path = test_runner/systems/ENHSP-Public
	url = https://gitlab.com/enricos83/ENHSP-Public.git
