[submodule "colored-lifted-planning"]
	path = colored-lifted-planning
	url = https://github.com/petrinet-planning/colored-lifted-planning.git
[submodule "planning-via-unfolding"]
	path = planning-via-unfolding
	url = https://github.com/petrinet-planning/planning-via-unfolding
	branch = pnml
[submodule "benchmarks/downward-benchmarks"]
	path = benchmarks/downward-benchmarks
	url = https://github.com/aibasel/downward-benchmarks
[submodule "benchmarks/autoscale-benchmarks"]
	path = benchmarks/autoscale-benchmarks
	url = https://github.com/AI-Planning/autoscale-benchmarks
[submodule "downward"]
	path = downward
	url = https://github.com/aibasel/downward.git
